@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #212121;
    color: white;
    height: 50px;
    font-family: 'Potta One', cursive;
}

nav i{
    font-size: 30px;
}

.container{
    width: 70vw;
    margin: 2rem auto;
}

.toolbar-item button{
    border: 2px solid white !important;
    border-radius: 20px !important;
    padding: 3px 8px !important;
    color: white !important;
    margin-top: 3px !important;
    margin-right: 3px;

}

.title{
    font-weight: bolder;
}



